.qrHook{
	background-color: #FFF;

	padding: 40px;

}

.qrBG1, .qrBG2{float: left;}
.qrBG1{background-color: #000;}
.qrBG2{background-color: #FFF;}

.qrSize3 .qrRow{height: 3px}
.qrSize3 .qrRow div{width: 3px;height: 3px;}

.qrSize4 .qrRow{height: 4px}
.qrSize4 .qrRow div{width: 4px;height: 4px;}

.qrSize5 .qrRow{height: 5px}
.qrSize5 .qrRow div{width: 5px;height: 5px;}

.qrSize6 .qrRow{height: 6px}
.qrSize6 .qrRow div{width: 6px;height: 6px;}

.qrSize7 .qrRow{height: 7px}
.qrSize7 .qrRow div{width: 7px;height: 7px;}

.qrSize8 .qrRow{height: 8px}
.qrSize8 .qrRow div{width: 8px;height: 8px;}

.qrSize9 .qrRow{height:9px}
.qrSize9 .qrRow div{width:9px;height:9px;}

.qrSize10 .qrRow{height:10px}
.qrSize10 .qrRow div{width:10px;height:10px;}

.qrSize11 .qrRow{height:11px}
.qrSize11 .qrRow div{width:11px;height:11px;}

.qrSize12 .qrRow{height:12px}
.qrSize12 .qrRow div{width:12px;height:12px;}

.qrSize13 .qrRow{height:13px}
.qrSize13 .qrRow div{width:13px;height:13px;}

.qrSize14 .qrRow{height:14px}
.qrSize14 .qrRow div{width:14px;height:14px;}

.qrSize15 .qrRow{height:15px}
.qrSize15 .qrRow div{width:15px;height:15px;}

.qrSize16 .qrRow{height:16px}
.qrSize16 .qrRow div{width:16px;height:16px;}

.qrSize17 .qrRow{height:17px}
.qrSize17 .qrRow div{width:17px;height:17px;}

.qrSize18 .qrRow{height:18px}
.qrSize18 .qrRow div{width:18px;height:18px;}

.qrSize19 .qrRow{height:19px}
.qrSize19 .qrRow div{width:19px;height:19px;}

.qrSize20 .qrRow{height:20px}
.qrSize20 .qrRow div{width:20px;height:20px;}

.qrSize21 .qrRow{height:21px}
.qrSize21 .qrRow div{width:21px;height:21px;}

.qrSize22 .qrRow{height:22px}
.qrSize22 .qrRow div{width:22px;height:22px;}


#qrHook{
	background-image: url('http://c15200598.r98.cf2.rackcdn.com/TechBreakfast/Columbia8-16-2012/images/qrhook_corner12x13_w.png');
	/*background-position: top left;*/
	background-position: 40px 40px;
	background-repeat: no-repeat;
}

#qrHook.qrSize13{
	background-image: url('http://c15200598.r98.cf2.rackcdn.com/TechBreakfast/Columbia8-16-2012/images/qrhook_corner12x13_w.png');
	background-position: 40px 40px;
	background-repeat: no-repeat;
}

#qrHook.loggedIn{
	background-position: center;
}

/*#qrHook .qrRow:first-child+div+div+div+div+div+div > div:first-child+div+div+div{
	visibility: hidden;
}

#qrHook .qrRow:first-child+div+div+div+div+div+div > div:first-child+div+div+div+div{
	visibility: hidden;
}

#qrHook .qrRow:first-child+div+div+div+div+div+div > div:first-child+div+div+div+div+div{
	visibility: hidden;
}

#qrHook .qrRow:first-child+div+div+div+div+div+div > div:first-child+div+div+div+div+div{
	visibility: hidden;
}

#qrHook .qrRow:first-child+div+div+div+div+div+div > div:first-child+div+div+div+div+div+div{
	visibility: hidden;
}
#qrHook .qrRow:first-child+div+div+div+div+div+div+div > div:first-child+div+div+div+div+div+div{
	visibility: hidden;
}
*/












